Proyecto_Micros/WebApplication1/WebApplication1/Service References/ServiceReference1/Convert.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ComprobarEstudiante">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ComprobarEstudianteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ComprobarEstudianteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerTodosMicros">
        <s:complexType />
      </s:element>
      <s:element name="TraerTodosMicrosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerTodosMicrosResult" type="tns:ArrayOfTransporteUrbano" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTransporteUrbano">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransporteUrbano" nillable="true" type="tns:TransporteUrbano" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransporteUrbano">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Linea" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CargarPasaje">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fecha" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="trans" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CargarPasajeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CargarPasajeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ComprobarEstudianteSoapIn">
    <wsdl:part name="parameters" element="tns:ComprobarEstudiante" />
  </wsdl:message>
  <wsdl:message name="ComprobarEstudianteSoapOut">
    <wsdl:part name="parameters" element="tns:ComprobarEstudianteResponse" />
  </wsdl:message>
  <wsdl:message name="TraerTodosMicrosSoapIn">
    <wsdl:part name="parameters" element="tns:TraerTodosMicros" />
  </wsdl:message>
  <wsdl:message name="TraerTodosMicrosSoapOut">
    <wsdl:part name="parameters" element="tns:TraerTodosMicrosResponse" />
  </wsdl:message>
  <wsdl:message name="CargarPasajeSoapIn">
    <wsdl:part name="parameters" element="tns:CargarPasaje" />
  </wsdl:message>
  <wsdl:message name="CargarPasajeSoapOut">
    <wsdl:part name="parameters" element="tns:CargarPasajeResponse" />
  </wsdl:message>
  <wsdl:portType name="PruebaSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ComprobarEstudiante">
      <wsdl:input message="tns:ComprobarEstudianteSoapIn" />
      <wsdl:output message="tns:ComprobarEstudianteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodosMicros">
      <wsdl:input message="tns:TraerTodosMicrosSoapIn" />
      <wsdl:output message="tns:TraerTodosMicrosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CargarPasaje">
      <wsdl:input message="tns:CargarPasajeSoapIn" />
      <wsdl:output message="tns:CargarPasajeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PruebaSoap" type="tns:PruebaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://localhost/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComprobarEstudiante">
      <soap:operation soapAction="http://localhost/ComprobarEstudiante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodosMicros">
      <soap:operation soapAction="http://localhost/TraerTodosMicros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargarPasaje">
      <soap:operation soapAction="http://localhost/CargarPasaje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PruebaSoap12" type="tns:PruebaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://localhost/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComprobarEstudiante">
      <soap12:operation soapAction="http://localhost/ComprobarEstudiante" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodosMicros">
      <soap12:operation soapAction="http://localhost/TraerTodosMicros" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargarPasaje">
      <soap12:operation soapAction="http://localhost/CargarPasaje" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Prueba">
    <wsdl:port name="PruebaSoap" binding="tns:PruebaSoap">
      <soap:address location="http://localhost:52332/WebSite1/Convert.asmx" />
    </wsdl:port>
    <wsdl:port name="PruebaSoap12" binding="tns:PruebaSoap12">
      <soap12:address location="http://localhost:52332/WebSite1/Convert.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>